@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background: radial-gradient(
      75.44% 75.44% at 30.03% 0%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(236.58deg, #bcbfc8 10.31%, #91a2c6 90.59%), #b9bdc8;
}

.d-none {
  display: none;
}

section {
  display: flex;
  position: relative;
  height: calc(100% - 140px);
  width: calc(100% - 92px);
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.14);
}

/* left */
#left {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #46529d;
}

#bg-roomId {
  position: relative;
  height: 100px;
  width: auto;
  margin: 0 0 0 75px;
  padding: 0;
  background: #2ebaee;
  display: flex;
}

#roomId {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  height: auto;
  width: auto;
  margin: 0 0 0 0;
  padding: 0 0 15px 30px;
  align-self: end;
  color: #ffffff;
}

#coming {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  height: auto;
  width: auto;
  margin: 40px 0 15px 75px;
  padding: 0;
  color: #ffffff;
  line-height: 100%;
}

#day {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  height: auto;
  width: auto;
  margin: 0 0 0 75px;
  padding: 0;
  color: #ffffff;
  opacity: 0.5;
}

#date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  height: auto;
  width: auto;
  margin: 0 0 0 75px;
  padding: 0;
  color: #ffffff;
}

#useNow {
  position: relative;
  height: auto;
  width: auto;
  margin: auto 0 0 0;
}

.clock {
  position: relative;
  height: auto;
  width: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding: 10px 0 5px 75px;
  margin: 0;
  color: #ffffff;
  opacity: 0.5;
}

.title {
  position: relative;
  height: auto;
  width: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding: 0 0 10px 75px;
  margin: 0;
  color: #ffffff;
}

#bg-nextUse {
  position: relative;
  height: 38%;
  width: 100%;
  margin: 0 0 0 0;
  background-color: #4d59a1;
}

/* right */
#right {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* navbar */
#navbar {
  width: 100%;
  height: 100px;
  display: flex;
  background: #efeeec;
}

.nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: auto 0 25px 60px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
}

input:checked + label {
  margin: auto 0 0 60px;
  opacity: 1;
}

input:checked + label:after {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 3.5px solid #707fdd;
  margin: 21.5px auto 0 auto;
}

/* content */
.content {
  position: relative;
  height: calc(100% - 100px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  width: 3px;
}

.content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.content::-webkit-scrollbar-thumb {
  background-color: #888;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.vl {
  position: fixed;
  height: calc(100% - 240px);
  width: 1px;
  top: 70;
  margin: 0 0 0 49px;
  padding: 0;
  background-color: #ececec;
  z-index: 0;
}

.title-right {
  position: relative;
  height: auto;
  width: auto;
  margin: 0;
  padding: 1px;
}

.title-right p {
  margin: 35px 0 20px 0;
  padding: 7px 0 7px 82px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #787878;
  background-color: #f7f7f7;
  border: 1px solid #ececec;
}

ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 0 0 46px;
}

ul div {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0 0 15px 0;
}

ul div li span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

ul div p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #000000;
  padding: 0 0 0 38px;
  margin: 5px 0 0 0;
}

ul .dotColorOne::before {
  padding: 0 30px 0 0;
  content: "\2022";
  color: #3dc7d2;
  font-size: 20px !important;
  opacity: 1 !important;
}

ul .dotColorTwo::before {
  padding: 0 30px 0 0;
  content: "\2022";
  color: #23CF5F;
  font-size: 20px !important;
  opacity: 1 !important;
}

ul .dotColorThree::before {
  padding: 0 30px 0 0;
  content: "\2022";
  color: #ebd33b;
  font-size: 20px !important;
  opacity: 1 !important;
}

ul .dotColorFour::before {
  padding: 0 30px 0 0;
  content: "\2022";
  color: #F3814A;
  font-size: 20px !important;
  opacity: 1 !important;
}
